<!DOCTYPE html>
<!-- 
  Brian LiuW
  SoftDev
  Sept 2024
 -->

<html>

  <head>
    <title> 45:Occupations </title>
  </head>

  <body>
    <h1> Jady, Brian, Tahmin: Team 45: SoftDev Pd 4</h1>
    <h2> random: {{ foo }} </h2>
    <table>
    <tr> <th> Jobs </th> <th> Percents </th> <th> Helpful Links </th> </tr>
    {% for job in coll %}
        <tr>
             <td text-align: center>{{ job['Job Class'] }}</td>
             <td text-align: center>{{ job['Percentage'] }}</td>
             <td text-align: center><a href={{ job['Link'] }}>{{ job['Job Class'] }}</a></td>
        </tr>
    {% endfor %}
    </table>
  </body>

</html>


